body{
    font-family: Verdana; font-size: 16px;
}

h1{
  color: purple;

}

h2{
  color: black;
}

p{
  color: black;
}

a.button:hover {
  background-color: #cac2b9;
  color: white;
}
.antman{
  background-color: inherit;
  font-weight: bolder;
}

.hulk{
  background-color: inherit;
  font-weight: normal;
  font-family: fantasy;

}
a.button{
  display: inline-block;
   overflow: hidden;
    margin-left: auto;
    margin-right: 0px;
    background-color: purple;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    font-size: 16px;
    margin-top:2px;
    cursor: pointer;
    border-style: solid;
    border-color: purple;
}

}
.inner{
    display: inline-block;
}

a.button:hover {
  background-color: white;
  color: black;
}
